@import "../../scssVars.scss";

.home_container{
    grid-row: 1/1;
    grid-column: 1/1;
    height: auto;

    .create_account_section_container {
        display: flex;
        justify-content: center;
        width: 100%;
        .create_account_section_content{
            padding: 8rem 5rem 8rem 5rem;
            width: 80%;
            font-family: $font_alatsi;
            text-align: center;
            background: url("../../assets/images/arclipse.jpg");
            h2 {
                font-size: $font_18_size;
                color: $color_main_bright;
                font-weight: unset;
            }
            h1{
                margin-top: -.1rem;
                color: $color_white;
                font-size: $font_38_size;
                font-weight: unset;
            }
            p{
                margin-top: 1rem;
                font-weight: unset;
                color: $color_bright_grey;
                font-size: $font_18_size;
                font-family: $font_alata;
            }
            button{
                margin-top: 2rem;
                font-weight: unset;
                font-size: $font_18_size;
                font-family: $font_alatsi;
                border-style: none;
                padding: .6rem 2rem;
                background-color: $color_main;
            }
        }
    }
    
}

@media (max-width: 1024px) {
    
}